.cards {
  padding: 20px 0px 40px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.cards__list {
  margin: 0px;
  padding: 0px;
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  grid-template-rows: auto auto;
  gap: 40px 20px;
  list-style-type: none;
  justify-content: center;
}

@media screen and (max-width: 627px) {
  .cards {
    padding: 20px;
  }
  .cards__list {
    grid-template-columns: repeat(auto-fit, 288px);
    row-gap: 20px;
  }
}
